[project]
	description = My practice
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Uday Kumar (udayakh)
[access "refs/for/refs/*"]
	read = group user/Uday Kumar (udayakh)
	push = group user/Uday Kumar (udayakh)
	label-Code-Review = -2..+2 group user/Uday Kumar (udayakh)
	label-Verified = -1..+1 group user/Uday Kumar (udayakh)
	rebase = group user/Uday Kumar (udayakh)
	removeReviewer = group user/Uday Kumar (udayakh)
	submit = group user/Uday Kumar (udayakh)
[access "refs/heads/*"]
	read = group user/Uday Kumar (udayakh)
	create = group user/Uday Kumar (udayakh)
	push = +force group user/Uday Kumar (udayakh)
	pushMerge = group user/Uday Kumar (udayakh)
[access "refs/tags/*"]
	push = group user/Uday Kumar (udayakh)
	push = +force group user/Uday Kumar (udayakh)
